.bar1 {
    padding-bottom: 1.5em;
}

.content1 {
    margin: auto;
    text-align: center;
}

hr {
    clear: both;
}

ul li {
    display: block;
    float: right;
    width: 80px;
    text-align: center;
    font-size: 1em;
}
