body {
    font-size: 12px;
    background-color: rgb(90%, 95%, 85%);
}

em {
    font-family: Verdana, Geneva, Arial, sans-serif;
    color: rgb(120, 150, 255);
    font-size: 1.8em;
    font-weight: bolder;
}

h1,
h2 {
    font-family: cursive;
    font-size: 200%;
}

ol li {
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    color: brown;
    text-decoration: underline;
}

ul li {
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    color: brown;
    text-decoration: underline;
}

h1+p {
    font-size: 1.2em;
    font-family: 'Candal', sans-serif;
    color: #cc6600;
    font-style: italic;
}

blockquote {
    font-size: large;
}

q {
    font-size: large;
}

b {
    font-size: x-large;
}
