body {
    background-color: #F0FFA3;
    margin: 24px;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
}

tr.tr0 {
    background-color: #CCE6FF;
}

tr.tr1 {
    background-color: #FFFFFF;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

th.tmonth {
    width: 60px;
}

th.tdate {
    width: 120px;
}

#skip1 {
    color: gray;
    background-color: #F28080;
}
