body {
    margin: 24px;
    background-color: #FFFFF7;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

th.tmonth {
    width: 75px;
}

th.tdate {
    width: 125px;
}
